<div class="edit-container">
  <div class="form-container">
    <h2>Editing a listing</h2>
    <%= render 'form', listing: @listing %>
    <%= link_to "Back to my listings", listing_new_path(current_user), class: "btn btn-primary"  %>
  </div>
</div>
