<div class="listings-container">
  <div class="flex-row">
    <div class="center-cards">
      <% @listings.each do |listing| %>
        <%= link_to listing_home_path(listing), class: "card-link" do %>
          <%= render "layouts/card", listing: listing %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<% unless current_user.nil? %>
  <%= link_to 'Make a new car', listing_new_path(current_user), class: "btn btn-primary"  %>
<% end %>
