<div class="container">
  <h1>Listings#new</h1>

  <%= render 'form', listing: @listing %>

  <%= link_to "Back to listings", listings_home_path, class: "btn btn-primary"  %>
</div>


<!-- Listing.where(user: current_user) -->

