<div class="offers-container">
  <div class="mini-navbar">

  </div>
  <div class="listing-cards">
    <% @listings.each do |entry| %>
      <div class="listing-card">
        <h2><%= entry.transportation_type %></h2>
        <% entry.offers.each do |o| %>
          <p><%= o.user.first_name %> <%= o.user.last_name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<%# SAMPLE DATA
  5.times do
    Listing.create!(
      transportation_type: "Vehicle",
      cost: "$100",
      location: "London",
      date_start: "2018-08-23",
      date_end: "2018-09-09",
      rating: 5,
      user_id: 1,
      description: "This is to test the Offers Page"
    )
  end
  [6, 7, 8, 9, 10].each do |id|
    3.times do
      Offer.create(listing_id: id, user_id: rand(1..6))
    end
  end


 %>
