.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 4.5em;
  background: $custom-navbar-primary;


  .half {
    // flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    width: 50vw;
  }
  .left-side {
    justify-content: flex-start;
    .logo {
      img {
        width: 4.8em;
      }
      margin: 0 1em;
    }
    .search-bar {
      flex-grow: 1;
    }
  }

  .right-side {
    justify-content: flex-end;
    .links {
      color: $primary;
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      a:hover {
        text-decoration: none;
      }
    }

    .profile {
      img {
        width: 3.5em;
      }
      padding-right: 1em;
    }
  }
}



