.custom-navbar {
  display: flex;
  position: fixed;
  top: 0;
  left:0;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 4.5em;
  // background: $custom-navbar-primary;

  .half {
    // flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    width: 50vw;
  }
  .left-side {
    justify-content: flex-start;
    .logo {
      img {
        width: 4.8em;
      }
      margin: 0 1em;
    }
    .search-bar {
      flex-grow: 1;
      background-color:transparent;
    }
  }

  .right-side {
    justify-content: flex-end;
    .links {

      flex-grow: 1;
      display: flex;
      justify-content: space-around;

      a {
        color: #fff;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .profile {
      img {
        width: 3.5em;
      }
      padding-right: 1em;
    }
  }
}

#seats {
  background-color:transparent;
  color:#fff;

}

#transportation_type {
  background-color:transparent;
  color:#fff;
}

#address-input {
  margin-bottom: -6px;
  background-color: transparent;
}

.custom-navbar-transparent {
  background-color: transparent;
}

.custom-navbar-white {
  background-color: #fff ;
  position:relative;

  #seats {
    color: #696969;
  }

  #transportation_type {
    color: #696969;
  }

  .right-side {
    .links {
      a {
        color: $primary;
      }

    }
  }
}
