<div class="card">
  <%= image_tag "https://images.unsplash.com/photo-1521657142174-c7353dc830cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4e244f754794055f338bdfad9f8fdca7&auto=format&fit=crop&w=1951&q=80" %>
  <div class="info">
    <div class="type half">
      Some Old Thing
    </div>
    <div class="rating half">
        <span>$380 / day</span>
        <ul class="stars list-inline">
          <li><i class="fa fa-star filled"></i></li>
          <li><i class="fa fa-star filled"></i></li>
          <li><i class="fa fa-star filled"></i></li>
          <li><i class="far fa-star filled"></i></li>
          <li><i class="far fa-star filled"></i></li>
        </ul>
    </div>
  </div>
</div>
