<div class="custom-navbar">
  <div class="left-side half">
    <div class="logo">
      <%= link_to root_path do %> <!-- this 'do' allows us to make a link out of the image. Line 4 and 5 are related  -->
        <%= image_tag 'logo.png' %>
      <% end  %>
    </div>
    <div class="search-bar">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div><!-- /btn-group -->
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seats <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div><!-- /btn-group -->
          <input type="text" class="form-control" aria-label="...">
      </div><!-- /input-group -->
    </div>
  </div>
  <div class="right-side half">
    <div class="links">
       <a href="#">Offers</a>
       <a href="#">Rent</a>
       <a href="#">Rent Out</a>
    </div>
    <div class="profile">
      <%= image_tag "https://avatars2.githubusercontent.com/u/40055789?v=4", class: "img-circle" %>
    </div>
  </div>
</div>
